<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="logo">
                <a href="#"> Natural Language Processing </a>
            </div>
            <div class="nav_menu">
                <ul>
                    <li>
                        <a id="toLink" href="#sectionLink"> Evaluate an article</a>
                    </li>
                    <li>
                        <a id="toText" href="#sectionText">Evaluate a text</a>
                    </li>
                </ul>
            </div>
        </header>

        <main>
            <section id="sectionLink">
                <h2>Evaluate an article</h2>
                <form class="inputForm" onsubmit="return Client.handleSubmitLink(event)">
                    <p>Evaluate an article or a blog with Natural Language Processing</p>
                    <input id="linkFromUser" type="text" name="input" value="" placeholder="Put a link here">
                    <p id="LinkValidationMsg" class="msg"></p>
                    <input class="button" type="submit" name="" value="Submit Link" onclick="return Client.handleSubmitLink(event)" onsubmit="return handleSubmitLink(event)">
                </form>
            </section>
            <section id="sectionText">
                <h2>Evaluate a text</h2>
                    <form class="inputForm" onsubmit="return Client.handleSubmitText(event)">
                        <p>Evaluate a Text with Natural Language Processing</p>
                        <input id="textFromUser" type="text" name="input" value="" placeholder="Put a text here">
                        <p id="textValidationMsg" class="msg"></p>
                        <input class="button" type="submit" name="" value="Submit Text" onclick="return Client.handleSubmitText(event)">
                    </form>
            </section>

            <section class="outputForm">
                <strong>Evaluation Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>My other projects can be found</p>
            <a href="https://github.com/nmarkevich">Here</a>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
