<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section id="sectionLink">
                <form class="inputForm" action="form-handler" onsubmit="return Client.handleSubmit(event)">
                    <p>Evaluate an article or a blog with Natural Language Processing</p>
                    <input id="linkFromUser" type="text" name="input" value="" placeholder="Put a link here">
                    <p id="validationMsg"></p>
                    <input class="button" type="submit" name="" value="Submit Link" onclick="return Client.handleSubmit(event)">
                </form>
            </section>
            <section id="sectionText">
                <form class="inputForm" action="form-handler" onsubmit="return Client.handleSubmit(event)">
                        <p>Evaluate a Text with Natural Language Processing</p>
                        <input id="textFromUser" type="text" name="input" value="" placeholder="Put a text here">
                        <p id="validationMsg"></p>
                        <input class="button" type="submit" name="" value="Submit Text" onclick="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
    </body>
</html>
