.inputForm {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    font-size: 24px;
    background-color: #b0ddd8;
    display: none;
}

.outputForm {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 10px;
    font-size: 24px;
    background-color: #b0ddd8;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

.button {
    background-color: #d0d7df;
}

.msg {
    color: red;
    font-size: 16px;
}

h2 {
    background-color: #e0cec2;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    line-height: 40px;
    padding-left: 5px;
}

section.collapsible .inputForm {
    display: block;
}

strong {
    font-weight: 700;
}