header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

.nav_menu {
    background-color: #b0ddd8;
    border: 1px solid #545454;
    border-radius: 3px;
}

.nav_menu li {
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 20px;
}

.logo {
    padding: 20px;
    font-size: 24px;
    background-color: #b0ddd8;
    border: 1px solid #545454;
    border-radius: 3px;
}
